# Python
*.pyc
__pycache__/

# Django
db.sqlite3
/static/
/media/

# Environments
.env
.venv/
*.env

# IDEs
.vscode/
.idea/

# Ignore migrations compiled files
*/migrations/__pycache__/
*/migrations/*.pyc